DATABASE_URL=sqlite:data/addresses.db
RPC_URL= https://sepolia-rollup.arbitrum.io/rpc
PRIVATE_KEY=
HASH_CONTRACT_ADDRESS=
ADDR_LOGGER_CONTRACT_ADDRESS=
TOKEN_CONTRACT_ADDRESS=
VERIFICATION_PRIZE_CONTRACT_ADDRESS=